Repository tonton-golio/computational_physics: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{json,md}": ["prettier --write"],
  "*.{css,scss}": ["prettier --write"]
}

refactor, get it half ready for full auto, testing deployment
  package-lock.json
  package.json
  src/app/layout.tsx
  src/app/topics/page.tsx
  src/components/layout/Header.tsx
  src/components/ui/index.ts
  src/components/ui/label.tsx
  src/components/ui/table.tsx
  src/components/visualization/linear-equations/ConditionNumberDemo.tsx
  src/components/visualization/linear-equations/LUDecompDemo.tsx
  src/components/visualization/nonlinear-equations/Himmelblau2D.tsx
  src/components/visualization/nonlinear-equations/Newton1D.tsx
  src/components/visualization/quantum-optics/WignerCatState.tsx
  src/components/visualization/quantum-optics/WignerCoherent.tsx
  src/components/visualization/quantum-optics/WignerNumberState.tsx
  src/components/visualization/quantum-optics/WignerSqueezed.tsx
  src/components/visualization/scientific-computing/LeastSquaresDemo.tsx
  src/features/simulation/SimulationHost.tsx
  src/features/simulation/simulation-manifest.ts
Due: eslint --fix, prettier --write

refactor, get it half ready for full auto, testing deployment 2
  docs/architecture/codebase-map.md
Due: prettier --write

add docs
  .gitignore
  docs/CONTRIBUTING.md
  docs/architecture/codebase-map.md
  docs/architecture/request-content-simulation-flow.md
  docs/guides/api-contracts.md
  docs/guides/content-authoring.md
  docs/guides/simulations.md
  docs/standards/coding-standards.md
  public/data/topic-points.json
Due: prettier --write

update docs
  CLAUDE.md
  README.md
  docs/architecture/codebase-map.md
  docs/architecture/request-content-simulation-flow.md
  docs/guides/simulations.md
  docs/standards/coding-standards.md
Due: prettier --write

tidy
  content/topics/continuum-mechanics/home.md
  content/topics/dynamical-models/home.md
  content/topics/inverse-problems/regularization.md
  content/topics/quantum-optics/atom-field-interaction.md
  content/topics/quantum-optics/cavity-qed.md
  content/topics/quantum-optics/coherence-functions.md
  content/topics/quantum-optics/coherent-states.md
  content/topics/quantum-optics/higher-order-coherence.md
  content/topics/quantum-optics/interferometry.md
  content/topics/quantum-optics/jaynes-cummings.md
  content/topics/quantum-optics/phase-space-representations.md
  content/topics/quantum-optics/quantization-single-mode.md
  content/topics/quantum-optics/quantum-fluctuations.md
  content/topics/quantum-optics/quantum-measurements.md
  content/topics/quantum-optics/squeezed-states.md
  content/topics/quantum-optics/vacuum-fluctuations.md
  docs/guides/content-authoring.md
  docs/guides/content-style-guide.md
  src/components/content/MarkdownContent.tsx
  src/components/visualization/advanced-deep-learning/ActivationFunctions.tsx
  src/components/visualization/advanced-deep-learning/AttentionAndTrainingDemos.tsx
  src/components/visualization/advanced-deep-learning/ConvolutionDemo.tsx
  src/components/visualization/applied-machine-learning/GanForgerArena.tsx
  src/components/visualization/applied-machine-learning/LossLandscapeExplorer.tsx
  src/components/visualization/applied-machine-learning/XorEnsembleArena.tsx
  src/components/visualization/continuum-mechanics/PoiseuilleVsPowerLaw.tsx
  src/components/visualization/dynamical-models/BathtubDynamics.tsx
  src/features/simulation/simulation-manifest.ts
  src/workers/simulation/lotka-volterra.worker.ts
  src/workers/simulation/mdp-simulation.worker.ts
Due: eslint --fix, prettier --write

remove notes
  feedback/advanced-deep-learning.md
  feedback/applied-machine-learning.md
  feedback/applied-statistics.md
  feedback/complex-physics.md
  feedback/continuum-mechanics.md
  feedback/dynamical-models.md
  feedback/inverse-problems.md
  feedback/new-writing-style.md
  feedback/online-reinforcement-learning.md
  feedback/quantum-optics.md
  feedback/scientific-computing.md
Due: prettier --write

fix: update perf budget script for Next.js 16 Turbopack
  scripts/check-perf-budgets.mjs
Due: none

docs: add KoalaClaw autonomous operations section
  README.md
Due: prettier --write

content: implement community suggestions #14 #15
  src/app/page.tsx
Due: eslint --fix, prettier --write

fix: mobile responsiveness and touch interactivity
  src/app/page.tsx
  src/components/layout/CollapsibleTopicLayout.tsx
  src/components/layout/Header.tsx
  src/components/topics/TopicsSearchGrid.tsx
  src/components/visualization/complex-physics/GameOfLife.tsx
  src/components/visualization/complex-physics/MandelbrotFractal.tsx
Due: eslint --fix, prettier --write

fix: simulation fullscreen fallback for iOS Safari
  src/app/globals.css
  src/lib/use-fullscreen.ts
Due: eslint --fix, prettier --write

Set default status for new suggestions to pending_injection_assessment
  src/app/api/suggestions/route.ts
Due: eslint --fix, prettier --write

Remove Python code snippets from ANN page, keep pseudocode
  content/topics/advanced-deep-learning/ann.md
  package-lock.json
Due: prettier --write

Remove Python code block from transformers page, keep pseudocode
  content/topics/advanced-deep-learning/transformers.md
Due: prettier --write

Remove Generator Python code block from GAN page, keep pseudocode
  content/topics/advanced-deep-learning/gan.md
Due: prettier --write

Redesign linear tomography simulation: cleaner 3-panel layout with ray visualization
  src/components/visualization/inverse-problems/LinearTomography.tsx
Due: eslint --fix, prettier --write

Clarify Question 1 on Bayesian statistics page
  content/topics/applied-statistics/bayesian-statistics.md
Due: prettier --write

Add featured visualizations carousel to landing page
  src/app/globals.css
  src/app/page.tsx
  src/components/landing/FeaturedSimulations.tsx
  src/components/visualization/complex-physics/SandpileModel.tsx
  src/features/simulation/SimulationHost.tsx
Due: eslint --fix, prettier --write

docs: rewrite README — concise, getting-started-first, accurate
  README.md
Due: prettier --write

Tone down hero blurb to be concrete and specific about the simulations
  README.md
Due: prettier --write
